<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/normalize.min.css">
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="static/css/sweetalert2.min.css">
    <title>用户登录</title>
</head>
<body>
    <div class="login-form">
        <form method="POST">
            <fieldset>用户登录</fieldset>
            <div class="name">
                <label>账号: </label>
                <input type="text" name="identity" placeholder="请输入账号">
            </div>
            <div class="psw">
                <label>密码: </label>
                <input type="password" name="password" placeholder="请输入密码">
            </div>
            <div class="button">
                <button type="submit">登录</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="static/js/sweetalert2.min.js"></script>
    <script type="text/javascript" src="static/js/login.js"></script>
</body>
</html>